body{
    margin: 0;
}
a {
    color:black;
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid black ;
    padding: 20px;
    margin: 0;
}
#grid ul{
    border-right: 1px solid black;
    width: 80px;
    padding: 20px;        
    margin: 0;       
}
#grid{
    display: grid;
    grid-template-columns: 130px 1fr;
}
/*@media(max-width:800px){
    h1{
        border-bottom: none;
        font-size: 30px;
    }
    #grid ul{
        border-right: none;
    }
    #grid{
        display: blocks;
    }
}*/